/* Your code */
.custom-1 {
  font-family: 'Balsamiq Sans', sans-serif;
 font-weight: 700;
}
.custom-2 {
  font-family: 'Montserrat', sans-serif;
 font-weight: 700;
}
.custom-3 {
  font-family: 'Oswald', sans-serif;
 font-weight: 700;
}
.custom-4 {
  font-family: 'Roboto Slab', sans-serif;
 font-weight: 700;
}
.custom-5 {
  font-family: 'Odibee Sans', sans-serif;
 font-weight: 700;
}
